.shopping-container {
    padding-top: 88px;
    padding-left: 142px;
    padding-right: 142px;
    padding-bottom: 1000px;
    background-color: #F0F5FA;
    overflow: hidden;
}

.page-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #4C5967;
    border-bottom: 4px solid #DE3D3A;
    width: fit-content;
    margin-bottom: 8px;
}

.mall-name-img-container {
    display: flex;
}

.mall-name {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 8px;
}

.mall-address {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #4C5967;
    margin-bottom: 40px;
}

.follow-btn {
    padding: 8px 24px;
    gap: 10px;
    width: 212px;
    height: 40px;
    background: #DE3D3A;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-right: 16px;
}

.block-btn {
    padding: 8px 24px;
    gap: 10px;
    width: 212px;
    height: 40px;
    background: #D1DEEB;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

}

.mall-img {
    width: 100%;
    height: 184px;
    border-radius: 8px;
    margin-left: 84px;
}

.filter-shops-container {
    margin-top: 80px;
    display: flex;
}

.filter-container {
    padding: 0px;
    gap: 24px;
    min-width: 196px;
    border-radius: 8px;
}

.filter-title-container-mobile {
    display: none;
}

.filter-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #4C5967;
    margin-bottom: 24px;
}

.filter-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.filter-icon {
    width: 18px;
    height: 17px;
}

.filter {
    margin-bottom: 64px;
}

.filter-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #010203;
    margin-left: 8px;
}

.expand-icon {
    width: 14px;
    height: 7px;
}

.checkbox-icon {
    width: 18px;
    height: 18px;
    border: 1.5px solid #5C738A;
}

.filter-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-left: 8px;
}

.ratings-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 8px;
}

.ratings {
    width: 13px;
    height: 12px;
    margin-right: 6px;
}

.rating-extra {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5C738A;
    margin-left: 8px;
}

.shops-container {
    width: 100%;
    margin-left: 40px;

}

.shops {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.shop {
    padding: 8px 8px 24px;
    gap: 16px;
    width: 212px;
    height: 368px;
    background: #FFFFFF;
    border-radius: 8px;

}

.shop-image {
    width: 196px;
    height: 196px;
    border-radius: 8px;
    margin-bottom: 16px;

}

.shop-details {
    margin-left: 8px;
}

.shop-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 4px;
}

.type {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

.shop-floor {
    display: flex;
    align-items: center;
}

.floor-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.floor-no {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
}


/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .shopping-container {
        width: 100%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .mall-name-img-container {
        display: block;
    }

    .mall-name {
        font-size: 36px;
        line-height: 56px;
    }

    .mall-address {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .follow-btn {
        width: 50%;
    }

    .block-btn {
        width: 50%;
    }

    .mall-img {
        height: 184px;
        border-radius: 8px;
        margin-left: 0;
        margin-top: 16px;
    }

    .filter-shops-container {
        margin-top: 80px;
        display: flex;
        position: relative;
    }

    .filter-container {
        min-width: 42%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .filter-title-container-mobile {
        display: block;
    }

    .home-filter {

        display: none;
    }

    .mobile-home-filter {
        background: white;
        padding: 8px;
        border: 1px solid gray;
        border-radius: 8px;
        /* display: block; */
    }

    .filter-container {
        min-width: 42%;
    }

    .filter-title-mobile {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #4C5967;
        /* margin-bottom: 24px; */
    }

    .filter-title {
        display: none;
        margin-bottom: 0;
    }

    .rating-extra {
        font-size: 10px;
        margin-left: 4px;
    }

    .shops-container {
        /* margin-left: 8px; */
        margin-top: 48px;
        margin-left: 0px;
        z-index: 0;
    }

    .shops {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 20px;
    }

    .shop {
        padding: 8px;
        gap: 16px;
        width: 180px;
        height: 350px;
        background: #FFFFFF;
        border-radius: 8px;

    }

    .shop-image {
        width: 164px;
        height: 164px;


    }


}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {

    .shopping-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;


    }

    .mall-name-address-container {
        width: 50%;
    }

    .mall-img {
        height: 184px;
        margin-left: 24px;
    }

    .filter-container {
        width: 25%;
        border-radius: 8px;
    }

    .shops-container {
        margin-left: 24px;

    }

    .shops {
        grid-template-columns: repeat(2, 1fr);
    }
}