.shopping-mall-container {
    margin-left: 130px;
    margin-right: 150px;
}

.title-country-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}

.shopping-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    display: block;
}

.search-box {
    display: flex;
}

.input-search {
    background: #FFFFFF;
    border: 1px solid #5C738A;
    border-radius: 8px 0px 0px 8px;
    width: 100%;
    padding: 7px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #5C738A;
}

.search-btn {
    width: 40px;
    height: 40px;

}

.shopping-mall {
    width: 100%;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 64px;
    column-gap: 24px;
    margin-bottom: 80px;
}

.shop-container {
    width: 320px;
    padding: 8px 8px 24px;
    gap: 24px;
    background: #FFFFFF;
    border: 2px solid #F0F5FA;
    border-radius: 8px;
}

.shop-img-container {
    width: 300px;
    position: relative;
    margin-bottom: 24px;
}

.shop-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.edit-container {
    position: absolute;
    padding: 8px;
    gap: 10px;
    height: 40px;
    width: 40px;
    right: 4%;
    top: 4%;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.edit-icon {
    height: 24px;
    width: 24px;
}

.shop-info-detail {
    margin-left: 16px;
}

.shop-name {
    width: 320px;
    height: 48px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
}

.icons-style {
    width: 19px;
    height: 19px;
    margin-right: 8px;
    margin-bottom: 16px;

}

.shop-info {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
}

.search-filter-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.location-select {
    padding: 8px 24px;
    gap: 16px;
    /* width: 212px; */
    height: 40px;
    background: #DE3D3A;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.advance-btn {
    padding: 8px 24px;
    gap: 10px;
    /* width: 240px; */
    height: 40px;
    background: #DE3D3A;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.banner-container {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.banner1 {
    width: 78%;
    height: 383px;
    border-radius: 16px;

}

.banner2 {
    width: 20%;
    height: 383px;
    border-radius: 16px;
}

.slider {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.selected-option {
    width: 40px;
    height: 8px;
    background: #E25250;
    border-radius: 4px;
}

.non-selected-option {
    width: 8px;
    height: 8px;
    background: #9FB3C6;
    border-radius: 4px;
}

.shop-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 80px;
}

.single-type {
    padding: 32px 24px;
    gap: 24px;
    /* width: 271px; */
    /* height: 268px; */
    background: #FFFFFF;
    border-radius: 24px;
}

.shop-type-icon {
    width: 30px;
    height: 32px;
}

.shop-type-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.type-details {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
}


/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .shopping-mall-container {
        width: 95%;
        margin: auto;
    }

    .shopping-title {
        font-size: 36px;
        line-height: 64px;
        display: block;
    }

    .shopping-mall {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
        row-gap: 24px;
        column-gap: 8px;
    }

    
    .shop-container {
        width: 188px;
        padding: 8px;
        gap: 12px;
    }
    
    .shop-img-container {
        width: 170px;
        height: 170px;
        margin-bottom: 16px;
    }
    
    .shop-img {
        width: 100%;
        height: 100%;
    }
    
    .edit-container {
        padding: 6px;
        height: 32px;
        width: 32px;
       
    }
    
    .edit-icon {
        height: 20px;
        width: 20px;
    }
    
    .shop-info-detail {
        margin-left: 8px;
    }
    
    .shop-name {
        width: fit-content;
        height: 48px;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 52px;
    }
    
    .icons-style {
        width: 19px;
        height: 19px;
        margin-right: 8px;
        margin-bottom: 16px;
    
    }
    
    .shop-info {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        margin-bottom: 16px;
    }

    .search-filter-container {
        grid-template-columns: 1fr;
        row-gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }

    .location-select {
        padding: 8px 12px;

    }

    .banner-container {
        gap: 12px;
    }

    .banner1 {
        width: 90%;
        height: 250px;
        border-radius: 16px;

    }

    .banner2 {
        width: 10%;
        height: 250px;
        border-radius: 16px;
    }

    .shop-type {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 80px;
    }
}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {

    .shopping-mall-container {
        width: 90%;
        margin: auto;
    }

    .shopping-mall {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
        column-gap: 24px;
    }



}