.featured-container {
    margin-top: 120px;
    margin-bottom: 120px;
    /* margin-left: 130px;
    margin-right: 150px; */
}

.featured-products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 24px; */
    gap: 16px;
    margin-bottom: 40px;
    margin-top: 12px;
    width: 100%;
}

.featured-product {
    padding: 16px;
    gap: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.categories-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 16px;
}

.product-images {
    display: flex;
    /* gap: 8px; */
    justify-content: space-between;
    width: 100%;
}

.product-image {
    width: 100%;
    height: 110px;
    /* width: 108px;
    height: 108px; */
    border-radius: 8px;
}

.load-btn {
    padding: 8px 24px;
    gap: 10px;
    width: 212px;
    height: 40px;
    background: #D1DEEB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}


/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .featured-container {
        /* width: 95%;
        margin: auto; */
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .featured-products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 8px;
        margin-bottom: 40px;
    }

    .featured-product {
        padding: 4px;

    }

    .categories-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .product-image {
        /* width: 55px; */
        height: 60px;

    }
}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {

    .featured-container {
        /* width: 90%;
        margin: auto; */
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .featured-products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* width: fit-content; */
    }

    .product-image {
        /* width: 55px; */
        height: 110px;

    }
}