.flashsale-container {
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 16px;
}

.section-title {
    font-weight: 400;
    font-size: 39px;
    line-height: 60px;
    margin-right: 24px;
}

.duration-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-right: 24px;

}

.time-value {
    padding: 4px;
    gap: 10px;
    width: 40px;
    height: 40px;
    background: #C72421;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 8px;
}

.time-divider {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-right: 8px;
}

.flash-products {
    display: flex;
    gap: 24px;
    overflow: hidden;
}

.single-product {
    /* width: 196px; */
    /* height: 440px; */
    padding: 8px;
    /* gap: 16px; */
    background: #FFFFFF;
    border-radius: 8px;
    /* position: relative; */
}

.single-product:hover {
    border: 1px solid blue;
    opacity: 0.8;
}

.product-img {
    /* width: 204px; */
    width: 100%;
    height: auto;
    margin: auto;
}

.product-details {
    margin-left: 16px;
}

.product-name {
    width: 180px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.product-type {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.product-price {
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    /* position: absolute; */
    /* bottom: 8px; */
}


/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .flashsale-container {
        width: 95%;
        margin-left: 2.5%;
    }

    .section-title {
        font-size: 32px;
        line-height: 40px;
    }

    .duration-title {
        font-size: 20px;
        line-height: 32px;
        margin-right: 8px;

    }

    .time-value {
        padding: 4px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 20px;
        margin-right: 4px;
    }

    .time-divider {
        font-size: 19px;
        line-height: 32px;
        margin-right: 4px;
    }

    .flash-products {
        margin-top: 8px;
    }

    .single-product {
        /* width: 180px; */
        /* height: 340px; */
        padding: 12px;
        position: relative;
    }

    .product-img {
        width: 100%;
        /* height: 170px; */
    }

    .product-details {
        margin-left: 8px;
    }

    .product-name {
        width: fit-content;
    }


    .product-price {
        font-weight: 700;
        font-size: 25px;
        line-height: 36px;
        /* position: absolute;
        bottom: 8px; */
    }
}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {

    .flashsale-container {
        width: 95%;
        margin-left: 5%;
    }

    .section-title {
        font-size: 40px;
        line-height: 48px;
    }

    .product-img {
        height: auto;
    }

}